.course-showcase {
  margin: 2rem;
  background: $white;
  display: flex;
  @extend .shadow-lg;

  .photo {
    width: 100%;

    img { min-height: 100%; }
  }

  .details {
    padding: 2rem;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
  }

  .description {
    @extend .text-secondary;
    text-align: justify;
  }
}
