<div class="course-banner">
  <h2 class="course-header">Welcome to the Library</h2>
  <p class="course-description">
    Choose from 100’s of hours of content, from Ethereum to
    Cryptoeconomics to Bitcoin to Creating Tokens.
  </p>
</div>
