.teacher-showcase {
  margin: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  background: $white;
  @extend .shadow-lg;
  width: 100%;

  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.teacher-list {
  display: flex;
}

.teacher-card {
  .card-title {
    padding: 1rem 1rem 0rem 1rem;
    font-size: 24px;
    font-weight: bold;
  }

  .card-actions {
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
    justify-content: space-between;
  }

  .rate-button {
    padding: 0.25rem 0.5rem;
    background: $blue;
    color: $white;
  }
}
