.navbar.navbar-dark.bg-primary
  .container
    = link_to root_path, class: "navbar-brand font-weight-bold text-uppercase navigation" do
      span.fab.fa-bitcoin.text-white.mr-2
      | Crypto University
