<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <%= link_to "", class: "navbar-brand font-weight-bold text-uppercase navigation" do %>
      <span class="fab fa-bitcoin text-white"></span> Crypto University
    <% end %>
  </div>
</nav>
